body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    gap: 16px;
}

.thin-line {
    background-color: black;
    width: 1080px;
    height: 4px;
}

.title {
    font-size: 36px;
}

.thinner-line {
    background-color: black;
    width: 600px;
    height: 1px;
}

